/fusion/media
/fusion/core/__pycache__
/fusion/core/migrations/__pycache__
/fusion/fusion/__pycache__
/fusion/fusion/__pycache__/settings.cpython-310.pyc
/fusion/fusion/__pycache__/__init__.cpython-310.pyc
/fusion/fusion/__pycache__/urls.cpython-310.pyc
/fusion/fusion/__pycache__/wsgi.cpython-310.pyc
/djangoUM1/venv
/djangoUM2/venv
/djangoUM2/db.sqlite3
/djangoUM2/core/__pycache__
/djangoUM2/core/migrations/__pycache__
/djangoUM2/djangoUM2/__pycache__
/djangoUM1/djangoUM1/__pycache__
/fusion/core/tests/__pycache__
/djangoUM3/venv
/djangoUM3/db.sqlite3
/djangoUM3/djangoUM3/__pycache__
/djangoUM3/usuarios/__pycache__
/djangoUM3/usuarios/migrations/__pycache__
/djangoORM/venv
/djangoORM/core/__pycache__
/djangoORM/core/migrations/__pycache__
/djangoORM/db.sqlite3
/djangoORM/djangoORM/__pycache__